# 观察数据形式并对数据进行预处理
1. [Foursquare数据](https://sites.google.com/site/xueatalphabeta/academic-projects)已经下载好了。[本地路径](../../data/ml-1m/)
2. [MovieLens](http://grouplens.org/datasets/movielens/1m/)已经下载好了。[本地路径](../../data/Foursqare/)

In [1]:
import numpy as np
import pandas as pd

# Foursquare需要处理的位置
1. 需要将题头与数据的分隔符去掉（手动）。
2. 需要将结尾的字数统计去掉（手动）(1021966 rows)。
3. 需要将题头中的空格去掉（手动）。
4. 需要指定读取时的分隔符为"|"。
5. 需要将数据中的空格去掉。
   1. id、user_id、venue_id通过设置字段来解决。
   2. latitude和longitude通过下面一个步骤来实现。
   3. created_at不处理空格。
6. 经纬度数据的处理。
   1. 中的空格部分替换为''。
   2. 然后将经纬度中为''的替换为'0'。
   3. 然后在将其转换为数值类型。
      1. 使用这种形式的转换不行checkins_dataset['latitude'].apply(pd.to_numeric)。转换之后再看数据类型并没有变化。使用checkins_dataset[['latitude', 'longitude']] = checkins_dataset[['latitude', 'longitude']].astype(np.float64)这种转换可以。
7. created_at如果需要转化为datetime类型需要耗时2分11.2秒。同样的使用checkins_dataset[['created_at']] = checkins_dataset[['created_at']].astype(np.datetime64)来完成转换。使用这种转换checkins_dataset['created_at'].apply(pd.to_datetime)不仅再次查看的时候没有将类型转换完成，而且还非常耗时。

In [2]:
checkins_dataset = pd.read_csv("../../data/Foursqare/checkins.dat",sep="|", 
                               dtype={'id': np.int32, 
                                      'user_id': np.int32, 
                                      'venue_id': np.int32, 
                                      'latitude':object, 
                                      'longitude': object, 
                                      'created_at': object})

In [3]:
checkins_dataset.describe()

                 id       user_id      venue_id
count  1.021966e+06  1.021966e+06  1.021966e+06
mean   5.109985e+05  1.227084e+06  1.502672e+05
std    2.950163e+05  6.638054e+05  2.440088e+05
min    1.600000e+01  1.000000e+00  1.000000e+00
25%    2.555072e+05  6.097910e+05  9.310000e+03
50%    5.109985e+05  1.380121e+06  3.216300e+04
75%    7.664898e+05  1.775918e+06  1.732980e+05
max    1.021981e+06  2.153502e+06  1.143020e+06

In [4]:
checkins_dataset.head(5)
checkins_dataset.columns

Index(['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at'], dtype='object')

In [5]:
checkins_dataset.dtypes

id             int32
user_id        int32
venue_id       int32
latitude      object
longitude     object
created_at    object
dtype: object

In [6]:
checkins_dataset['latitude'].replace('\s+','',regex=True,inplace=True) 
checkins_dataset['longitude'].replace('\s+','',regex=True,inplace=True) 
checkins_dataset.head(5)

       id  user_id  venue_id    latitude    longitude            created_at
0  984301  2041916      5222                            2012-04-21 17:39:01
1  984222    15824      5222  38.8951118  -77.0363658   2012-04-21 17:43:47
2  984315  1764391      5222                            2012-04-21 17:37:18
3  984234    44652      5222   33.800745    -84.41052   2012-04-21 17:43:43
4  984249  2146840      5222                            2012-04-21 17:42:58

In [7]:
checkins_dataset['latitude'].replace('','0',regex=True,inplace=True) 
checkins_dataset['longitude'].replace('','0',regex=True,inplace=True) 
checkins_dataset.head(5)

       id  user_id  venue_id    latitude    longitude            created_at
0  984301  2041916      5222           0            0   2012-04-21 17:39:01
1  984222    15824      5222  38.8951118  -77.0363658   2012-04-21 17:43:47
2  984315  1764391      5222           0            0   2012-04-21 17:37:18
3  984234    44652      5222   33.800745    -84.41052   2012-04-21 17:43:43
4  984249  2146840      5222           0            0   2012-04-21 17:42:58

In [12]:
checkins_dataset.dtypes

id             int32
user_id        int32
venue_id       int32
latitude      object
longitude     object
created_at    object
dtype: object

In [18]:
checkins_dataset[['latitude', 'longitude']] = checkins_dataset[['latitude', 'longitude']].astype(np.float64)
checkins_dataset[['created_at']] = checkins_dataset[['created_at']].astype(np.datetime64)

In [20]:
checkins_dataset.dtypes

id                     int32
user_id                int32
venue_id               int32
latitude             float64
longitude            float64
created_at    datetime64[ns]
dtype: object

In [19]:
checkins_dataset.describe()

                 id       user_id      venue_id      latitude     longitude
count  1.021966e+06  1.021966e+06  1.021966e+06  1.021966e+06  1.021966e+06
mean   5.109985e+05  1.227084e+06  1.502672e+05  1.439770e+01 -3.351477e+01
std    2.950163e+05  6.638054e+05  2.440088e+05  1.888728e+01  4.827883e+01
min    1.600000e+01  1.000000e+00  1.000000e+00 -7.525097e+01 -1.596708e+02
25%    2.555072e+05  6.097910e+05  9.310000e+03  0.000000e+00 -7.786000e+01
50%    5.109985e+05  1.380121e+06  3.216300e+04  0.000000e+00  0.000000e+00
75%    7.664898e+05  1.775918e+06  1.732980e+05  3.611465e+01  0.000000e+00
max    1.021981e+06  2.153502e+06  1.143020e+06  7.821859e+01  1.784242e+02

In [21]:
checkins_dataset_dropzero = checkins_dataset.drop(checkins_dataset[(checkins_dataset['latitude']==0) | (checkins_dataset['longitude']==0)].index)

In [23]:
checkins_dataset_dropzero.describe()

                 id       user_id      venue_id       latitude      longitude
count  3.966340e+05  3.966340e+05  3.966340e+05  396634.000000  396634.000000
mean   5.104711e+05  5.641349e+05  1.327559e+05      37.097070     -86.354065
std    3.054927e+05  4.865694e+05  2.287003e+05       8.778760      37.983677
min    1.600000e+01  1.000000e+00  1.000000e+00     -75.250973    -159.670833
25%    2.422792e+05  1.692900e+05  7.620000e+03      33.800745    -111.926052
50%    5.019875e+05  4.298200e+05  2.830400e+04      39.099275     -85.758456
75%    7.758175e+05  8.496470e+05  1.485520e+05      40.802071     -74.056530
max    1.021981e+06  2.153361e+06  1.143011e+06      78.218590     178.424240

In [24]:
checkins_dataset_dropzero.head(5)

        id  user_id  venue_id   latitude   longitude          created_at
1   984222    15824      5222  38.895112  -77.036366 2012-04-21 17:43:47
3   984234    44652      5222  33.800745  -84.410520 2012-04-21 17:43:43
7   984291   105054      5222  45.523452 -122.676207 2012-04-21 17:39:22
9   984318  2146539      5222  40.764462 -111.904565 2012-04-21 17:35:46
10  984232    93870    380645  33.448377 -112.074037 2012-04-21 17:38:18

In [14]:
checkins_dataset[checkins_dataset['id']==984301]

       id  user_id  venue_id latitude longitude            created_at
0  984301  2041916      5222        0         0   2012-04-21 17:39:01