# list部分

In [1]:
list1= list("daaecef")
list1.sort()
print(list1.index('a'))

0

# tuple部分

In [2]:
t1=(1,)
t2=(2)
print(t2)

2

# 字符串部分

In [3]:
print(ord('a'))
print(hex(ord('a')))

97
0x61

In [4]:
print(chr(9733))
print(chr(0x2605))

★
★

In [5]:
"AbCdE".swapcase()

'aBcDe'

In [6]:
str1 = "Hello %s"%("python one")
str2 = "hello {}, int is {}".format("python two", 39)
str3 = "hello {1}, int is {0}".format("python two", 39)
print(str1)
print(str2)
print(str3)

Hello python one
hello python two, int is 39
hello 39, int is python two

## 全局变量

In [7]:
# 1 示例1，不使用global

x = 3
def fun():
    x = 7
    return x

print(fun())
print(x)

7
3

In [8]:
# 2 示例2，使用global
x = 3
def fun():
    global x
    x = 7
    return x

print(fun())
print(x)

7
7

## 参数传递

In [9]:
x = 10
y = 21

def add(x, y):
    x = x + 1
    y = y + 2
    return x + y

result = add(x, y)

print(x, y)
print(result)

10 21
34

In [10]:
xlist = [1,2,3]

def operation(x):
    x.append(5)
    return x

print(operation(xlist))
print(xlist)

[1, 2, 3, 5]
[1, 2, 3, 5]

## lambda表达式

In [11]:
def myadd(n1, n2):
    return n1 + n2

myadd(1, 2)

3

In [12]:
fun = lambda n1,n2: n1 + n2
fun(2, 3)

5

## return和yield

In [13]:


def fun(n):
    for i in range(n):
        # 这里意味着在i=0的时候就已经return了，也就是终止了。所以返回结果是0。
        return i ** 2

output = fun(10)
print(output)

0

In [14]:
def gen(n):
    for i in range(n):
        # 不会导致函数退出，而是创建了一个生成器对象。
        yield i ** 2

output = gen(10)
print(type(output))

for x in output:
    print(x)

<class 'generator'>
0
1
4
9
16
25
36
49
64
81

In [15]:
def simpleGenerator():
    x = 1
    yield x
    yield x + 1
    yield x + 2
    
gen_obj = simpleGenerator()

print(type(gen_obj))
print(type(simpleGenerator))
print(type(simpleGenerator()))

from inspect import isgeneratorfunction 
print(isgeneratorfunction(gen_obj))
print(isgeneratorfunction(simpleGenerator))
print(isgeneratorfunction(simpleGenerator()))

print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))

print("------")
for x in gen_obj:
    print("=========")
    print(x)

<class 'generator'>
<class 'function'>
<class 'generator'>
False
True
False
1
2
3
------

In [16]:
from inspect import isgeneratorfunction 
isgeneratorfunction(gen_obj)

False

## DataFrame

In [17]:
import pandas as pd
import numpy as np

pd1 = pd.DataFrame({'col1':[1,2,3], 'col2':[4,5,6]}, index=['a','b','c'])
print(pd1)

   col1  col2
a     1     4
b     2     5
c     3     6

In [18]:
# 将pandas和yield组合使用

def generateIndex():
    for i in range(3):
        yield i

pd2 = pd.DataFrame({'col1':[1,2,3], 'col2':[4,5,6]}, index=generateIndex())
print(pd2)

   col1  col2
0     1     4
1     2     5
2     3     6

In [19]:
pd1.insert(loc=2, column="insertCol", value=pd1['col1'] * pd1['col2'])
print(pd1)

   col1  col2  insertCol
a     1     4          4
b     2     5         10
c     3     6         18

In [24]:
pd1.loc[:,:]

   col1  col2  insertCol
a     1     4          4
b     2     5         10
c     3     6         18